<configuration>
	<system.webServer>
		<security>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<basicAuthentication enabled="false" />
			</authentication>

			<authorization>
				<add accessType="Allow" users="*" />
			</authorization>
		</security>
	</system.webServer>
</configuration>